header{
    width: auto;
    background-color: rgb(255, 255, 255);
    margin: -20px auto 20px auto;
    padding: 10px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: auto;
}
.navbar{
    position: absolute;
    float: left;
    margin: -100px auto 0px 300px;
}
.bi-airplane{
    color: coral;
}
header ul{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
header li{
    padding: 20px;
    display: inline-block;
    
}
header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header a:hover{
    color: rgb(240, 64, 0);
}
footer{
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
}